/* Blue   -   #05386B
  Forest  -   #379683
  Kelly   -   #5CDB95
  Mint    -   #8EE4AF
  Cream   -   #EDF5E1
  Purple  -   #5b00c3

  font-family: 'Roboto Slab', serif;
  font-family: 'Open Sans', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@500&display=swap');

.App {
  display: grid;
  text-align: center;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 15vh auto 8vh;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
  place-items: center;
  background-color:#EDF5E1;
  color: black;
  min-height: 100vh;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
