footer {
    grid-area: footer;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #05386B;
    color: #EDF5E1;
    font-size: 3vh;
}

img {
    height: 6vh;
}

.icons {
    padding-top: 1vh;
    display:flex;
    flex-direction: row;
    place-content: center;
}

.icons > a {
    padding-right: 3vh;
}
