

header {
    grid-area: header;
    position: sticky;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #5b00c3;
    color: #EDF5E1;
    justify-content: space-between;
    align-items: center;
    font-size: 4vh;
    font-family: 'Roboto Slab', serif;
}

header > * {
    padding-right: 6vh;
}

nav {
    display:flex;
    justify-content: flex-start;
    flex-basis: 50%;
    font-size: 4vh;
    padding-left: 1vh;
}

nav > a {
    color: #EDF5E1;
    text-decoration: none;
    padding: 0 1.5vh 0 1.5vh;
}

nav > a:hover {
    color: black;
}

.logo {
    font-size: 5vh;
}

.bm-burger-button {
    position: fixed;
    width: 4vh;
    height: 4vh;
    left: 4vh;
    top: 3vh;
    display: none;
}

.bm-burger-bars {
    background: #EDF5E1;
}



.bm-menu-wrap {
    top: 0px;
}

.bm-menu {
    display: none;
    background: black;
    padding: 2vh;
    font-size: 2vh;
    width: 35vh;
}

.bm-item-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8vh 4vh;
}

.bm-item {
    display: block;
    color: #EDF5E1;
    padding-bottom: 2vh;
}

.menu-item:hover {
    color: #5b00c3;

}

.bm-cross-button {
    height: 2vh;
    width: 2vh;
    left: 0px;
    display: none;
}

.bm-cross {
    left: 0px;
    display: none;
    background: #EDF5E1;
}

@media only screen and (max-width: 1250px) {
    .bm-burger-button {
        display: block;
    }

    .bm-cross-button {
        display: block;

    }

    .bm-cross {
        display: block;
  }

    .bm-menu {
        display: block;
    }

    nav {
        display: none;
    }
}